@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap');
.fa-house-chimney {
    color: #1366b9;
    font-size: 26px;
    margin-right: 8px;
}
.fa-list-check {
    color: rgb(95, 84, 255);
    font-size: 26px;
    margin-right: 8px;
}
.fa-envelope {
    color: rgb(103, 117, 78);
    font-size: 26px;
    margin-right: 8px;
}
.fa-user {
    color: rgb(235, 197, 154);
    font-size: 26px;
    margin-right: 8px;
}
.fa-arrow-right-long {
    color: rgb(51, 51, 51);
    font-size: 27px;
    margin-left: 4px;
}
.fa-book {
    color: rgb(226, 248, 184);
    font-size: 23px;
    margin-right: 8px;
}
.fa-calendar-days {
    color: rgb(226, 248, 184);
    font-size: 23px;
    margin-right: 8px;
}
.fa-clipboard-check {
    color: rgb(226, 248, 184);
    font-size: 25px;
    margin-right: 8px;
}
.fa-hourglass-end {
    color: rgb(226, 248, 184);
    font-size: 25px;
    margin-right: 8px;
}
.fa-trash-can {
    color: rgb(209, 87, 87);
    font-size: 20px;
    margin-left: 8px;
}
.fa-square-plus {
    color: rgb(104, 184, 101);
    font-size: 22px;
    margin-left: 8px;
}
.fa-chart-line {
    color: rgb(150, 114, 167);
    font-size: 22px;
    margin-left: 8px;
}
.Navigation>a:hover {
    box-shadow: 0 0 5px rgb(139, 138, 136);
    transition: all 0.3s ease;
    text-decoration: underline;
    text-decoration-color: white;
    text-decoration-thickness: 3px;
}
#Login_btn:hover {
    box-shadow: 0 0 10px;
    background-color: rgb(199, 179, 149);
    transition: all 0.3s ease;
    cursor: pointer;
}
.sidebar>a:hover {
    box-shadow: 0 0 10px;
    transition: all 0.2s ease;
    color: rgb(39, 39, 39);
    background-color: rgb(241, 219, 189);
}
.Working_btns>button:hover {
    transition: all 0.3s ease;
    cursor: pointer;
    color: black;
    background-color: rgb(160, 138, 98);
}
* {
    padding: 0px;
    margin: 0px;
    font-family: "Baloo 2", Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    scrollbar-width: none;
}
.Navigation {
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    gap: 70px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 15px;
}
.Navigation_logo {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #ff841f;
    font-size: 28px;
    font-weight: 700;
}
.Navigation>a {
    text-decoration: none;
    font-size: 22px;
    border-radius: 5px;
    padding: 10px;
    color: whitesmoke;
}
#Login_btn {
    display: flex;
    align-items: center;
    margin-left: auto;
    width: 180px;
    font-size: 20px;
    align-self: center;
    justify-content: center;
    padding: 15px;
    border-radius: 7px;
    background-color: rgb(190, 172, 143);
    text-decoration: none;
    color: black;
}
.Task_Container {
    display: flex;
    background-image: url(./Home_background.jpg);
    background-repeat: no-repeat;
    flex-direction: row;
    background-position: center;
    background-size: cover;
    height: 84vh;
    min-height: 100vh;
}
.sidebar {
    width: auto;
    height: 84vh;
    background-color: rgba(35, 56, 37, 0.5);
    border-right: 1px solid #000000;
    padding: 10px;
    display: flex;
    gap: 10px;
    margin-left: 0;
    font-family: Arial;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    min-height: 100vh;
}
.sidebar>a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 20px;
    width: 95%;
    border-radius: 7px;
    background-color: rgb(43, 43, 43);
}
label {
    text-align: center;
    justify-content: center;
    display: flex;
}
textarea {
    width: 85%;
    height: 250px;
    font-size: 16px;
    resize: none;
    border: 5px double;
    border-radius: 10px;
    background-color: rgb(240, 231, 231);
}
.task_table {
    border: 2px solid black;
    border-radius: 5px;
    width: auto;
    align-items: center;
    display: flex;
    padding: 2px;
    margin: 0%;
    flex-grow: 1;
    margin: 0.5%;
    overflow-y: auto;
    scrollbar-width: none;
    flex-direction: column;
}
table {
    font-family: Arial;
    width: 95%;
}
th {
    border: 1px solid black;
    border-radius: 4px;
    padding: 0px;
    height: 35px;
    font-size: 16px;
}
td {
    border: 1px solid black;
    border-radius: 4px;
    padding: 5px;
    font-size: 16px;
}
td>p {
    padding: 12px;
    font-size: 16px;
    line-height: 1.0;
    min-height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-wrap: break-word;
    word-wrap: break-word;
}
td:nth-child(1) {
    width: 25%;
    height: 35x;
}
td:nth-child(2) {
    width: 55%;
    height: 35x;
}
td:nth-child(3) {
    width: 20%;
    height: 35x;
}
.Working_btns {
    padding: 8px;
    background-color: rgb(88, 88, 88);
    color: black;
    flex-direction: column;
    display: flex;
    gap: 10px;
    border: 1px solid black;
    width: auto;
}
.Working_btns>button {
    font-size: 14px;
    padding: 22px;
    width: 100%;
    height: 33px;
    align-items: center;
    display: flex;
    background-color: black;
    color: whitesmoke;
    border: none;
    border-radius: 7px;
    justify-content: center;
}
.Working_btns>input {
    font-size: 16px;
    width: 100%;
    padding: 7px;
    align-items: center;
    display: flex;
    justify-content: center;
    border: 2px solid rgb(43, 43, 43);
    background-color: rgb(179, 179, 179);
    border-radius: 5px;
}

@media (max-width:1480px) {
    .Navigation {
        padding: 20px;
        gap: 40px;
        justify-content: space-between;
    }

    .Navigation_logo {
        gap: 15px;
        font-size: 20px;
        font-weight: 700;
    }

    .Navigation>a {
        font-size: 20px;
        padding: 2px;
    }

    .home_img {
        padding-top: 120px;
    }

    .home_img>img {
        box-shadow: 0 0 5px;
        padding-bottom: 20px;
        width: 150px;
        height: 100px;
    }

    #Login_btn {
        width: 120px;
        font-size: 20px;
        padding: 10px;
    }

    .fa-arrow-right-long {
        font-size: 22px;
        margin-left: 4px;
    }

    .fa-house-chimney {
        font-size: 22px;
        margin-right: 8px;
    }

    .fa-list-check {
        font-size: 22px;
        margin-right: 8px;
    }

    .fa-envelope {
        font-size: 22px;
        margin-right: 8px;
    }

    .fa-user {
        font-size: 22px;
        margin-right: 8px;
    }

    .Task_Container {
        display: flex;
        background-image: url(./Home_background.jpg);
        flex-direction: row;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 84vh;
        min-height: 100vh;

    }

    .sidebar {
        width: fit-content;
        padding: 6px;
        gap: 10px;
        margin-left: 0;
        align-items: center;
        box-sizing: border-box;
        min-height: 100vh;
    }

    .sidebar>a {
        padding: 10px;
        width: 85%;
    }

    .Working_btns {
        width: auto;

    }

    .Working_btns>button {
        width: 100%;
        border-radius: 7px;
    }

    .Working_btns>input {
        width: 100%;
        padding: 7px;
    }

    .task_table {
        border: 2px solid black;
        border-radius: 5px;
        width: auto;
        align-items: center;
        display: flex;
        padding: 2px;
        margin: 0%;
        flex-grow: 1;
        margin: 0.5%;
    }

    table {
        width: 95%;

    }

    th {
        border: 1px solid black;
        border-radius: 4px;
        padding: 0px;
        height: 30px;
        font-size: 16px;
    }

    td {
        border: 1px solid black;
        border-radius: 4px;
        padding: 5px;
        font-size: 16px;
    }

    td>p {
        padding: 12px;
        font-size: 14px;
        line-height: 1.0;
        min-height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow-wrap: break-word;
        word-wrap: break-word;
    }

    td:nth-child(1) {
        width: 25%;
        height: 35x;
    }

    td:nth-child(2) {
        width: 55%;
        height: 35x;
    }

    td:nth-child(3) {
        width: 20%;
        height: 35x;
    }
}

@media (max-width:1280px) {
    .Navigation {
        padding: 15px;
        gap: 40px;
        justify-content: space-between;
    }

    .Navigation_logo {
        gap: 10px;
        font-size: 25px;
        font-weight: 700;
    }

    .Navigation>a {
        font-size: 20px;
        padding: 8px;
    }

    .home_img {
        padding-top: 120px;
    }

    .home_img>img {
        border-radius: 10px;
        padding-bottom: 20px;
        width: 150px;
        height: 100px;
    }

    #Login_btn {
        width: 120px;
        font-size: 20px;
        padding: 15px;
    }

    .fa-arrow-right-long {
        font-size: 16px;
        margin-left: 4px;
    }

    .fa-house-chimney {
        font-size: 16px;
        margin-right: 8px;
    }

    .fa-list-check {
        font-size: 16px;
        margin-right: 8px;
    }

    .fa-envelope {
        font-size: 16px;
        margin-right: 8px;
    }

    .fa-user {
        font-size: 16px;
        margin-right: 8px;
    }

    .Task_Container {
        display: flex;
        background-image: url(./Home_background.jpg);
        flex-direction: row;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 84vh;
        min-height: 100vh;

    }

    .sidebar {
        width: fit-content;
        padding: 6px;
        gap: 10px;
        margin-left: 0;
        align-items: center;
        box-sizing: border-box;
        min-height: 100vh;
    }

    .sidebar>a {
        padding: 10px;
        width: 85%;
    }

    .Working_btns {
        width: auto;

    }

    .Working_btns>button {
        width: 100%;
        border-radius: 7px;
    }

    .Working_btns>input {
        width: 100%;
        padding: 7px;
    }

    .task_table {
        border: 2px solid black;
        border-radius: 5px;
        width: auto;
        align-items: center;
        display: flex;
        padding: 2px;
        margin: 0%;
        flex-grow: 1;
        margin: 0.5%;
    }

    table {
        width: 95%;

    }

    th {
        border: 1px solid black;
        border-radius: 4px;
        padding: 0px;
        font-size: 16px;
    }

    td {
        border: 1px solid black;
        border-radius: 4px;
        padding: 5px;
        font-size: 16px;
    }

    td>p {
        padding: 12px;
        font-size: 12px;
        line-height: 1.0;
        min-height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow-wrap: break-word;
        word-wrap: break-word;
    }

    td:nth-child(1) {
        width: 25%;
        height: 35x;
    }

    td:nth-child(2) {
        width: 55%;
        height: 35x;
    }

    td:nth-child(3) {
        width: 20%;
        height: 35x;
    }
}

@media (max-width:1024px) {
    .Navigation {
        padding: 15px;
        gap: 22px;
        justify-content: space-between;
    }

    .Navigation_logo {
        gap: 5px;
        font-size: 22px;
    }

    .Navigation>a {
        font-size: 16px;
        padding: 6px;
    }

    .home_img {
        padding-top: 120px;
    }

    .home_img>img {
        padding-bottom: 20px;
        width: 150px;
        height: 100px;
    }

    #Login_btn {
        width: 120px;
        font-size: 16px;
        padding: 5px;
    }

    .fa-arrow-right-long {
        font-size: 16px;
        margin-left: 4px;
    }

    .fa-house-chimney {
        font-size: 16px;
        margin-right: 8px;
    }

    .fa-list-check {
        font-size: 16px;
        margin-right: 8px;
    }

    .fa-envelope {
        font-size: 16px;
        margin-right: 8px;
    }

    .fa-user {
        font-size: 16px;
        margin-right: 8px;
    }

    .Task_Container {
        display: flex;
        background-image: url(./Home_background.jpg);
        flex-direction: row;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 84vh;
        min-height: 100vh;
    }

    .sidebar {
        width: fit-content;
        padding: 6px;
        gap: 10px;
        margin-left: 0;
        align-items: center;
        box-sizing: border-box;
        min-height: 100vh;
    }

    .sidebar>a {
        padding: 10px;
        width: 85%;
    }

    .Working_btns {
        width: auto;

    }

    .Working_btns>button {
        width: 100%;
        border-radius: 7px;
    }

    .Working_btns>input {
        width: 100%;
        padding: 7px;
    }

    .task_table {
        border: 2px solid black;
        border-radius: 5px;
        width: auto;
        align-items: center;
        display: flex;
        padding: 2px;
        margin: 0%;
        flex-grow: 1;
        margin: 1%;
    }

    table {
        width: 95%;

    }

    th {
        border: 1px solid black;
        border-radius: 4px;
        padding: 0px;
        font-size: 16px;
    }

    td {
        border: 1px solid black;
        border-radius: 4px;
        padding: 5px;
        font-size: 16px;
    }

    td>p {
        padding: 12px;
        font-size: 12px;
        line-height: 1.0;
        min-height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow-wrap: break-word;
        word-wrap: break-word;
    }

    td:nth-child(1) {
        width: 25%;
        height: 35x;
    }

    td:nth-child(2) {
        width: 55%;
        height: 35x;
    }

    td:nth-child(3) {
        width: 20%;
        height: 35x;
    }

}

@media(max-width:770px) {
    .Navigation {
        padding: 7px;
        gap: 8px;
        justify-content: space-between;
    }

    .Navigation_logo {
        gap: 10px;
        font-size: 20px;
    }

    .Navigation>a {
        font-size: 14px;
        padding: 2px;
    }

    .home_img {
        padding-top: 120px;
    }

    .home_img>img {
        padding-bottom: 20px;
        width: 150px;
        height: 100px;
    }

    #Login_btn {
        width: 120px;
        font-size: 12px;
        padding: 5px;
    }

    .fa-arrow-right-long {
        font-size: 12px;
        margin-left: 4px;
    }

    .fa-house-chimney {
        font-size: 12px;
        margin-right: 8px;
    }

    .fa-list-check {
        font-size: 12px;
        margin-right: 8px;
    }

    .fa-envelope {
        font-size: 12px;
        margin-right: 8px;
    }

    .fa-user {
        font-size: 12px;
        margin-right: 8px;
    }

    .Task_Container {
        display: flex;
        background-image: url(./Home_background.jpg);
        flex-direction: column;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: auto;
    }

    .sidebar {
        width: auto;
        padding: 6px;
        gap: 10px;
        margin-left: 0;
        align-items: center;
    }

    .sidebar>a {
        padding: 10px;
        width: 85%;
    }

    .Working_btns {
        width: auto;
        justify-content: center;
    }

    .Working_btns>button {
        width: 100%;
        border-radius: 7px;
    }

    .Working_btns>input {
        width: 100%;
        padding: 7px;
    }

    .task_table {
        border: 2px solid black;
        border-radius: 5px;
        justify-content: center;
        width: auto;
        align-items: center;
        display: flex;
        padding: 2px;
        flex-grow: 1;
        margin: 3%;
    }

    table {
        width: 95%;
    }

    th {
        border: 1px solid black;
        border-radius: 4px;
        padding: 0px;
        font-size: 16px;
    }

    td {
        border: 1px solid black;
        border-radius: 4px;
        padding: 5px;
        font-size: 16px;
    }

    td>p {
        padding: 12px;
        font-size: 12px;
        line-height: 1.0;
        min-height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow-wrap: break-word;
        word-wrap: break-word;
    }

    td:nth-child(1) {
        width: 25%;
        height: 35px;
    }

    td:nth-child(2) {
        width: 55%;
        height: 35x;
    }

    td:nth-child(3) {
        width: 20%;
        height: 35x;
    }
}

@media (max-width:480px) {
    .Navigation {
        padding: 5px;
        gap: 5px;
        justify-content: space-between;
    }

    .Navigation_logo {
        gap: 4px;
        font-size: 12px;
    }

    .Navigation>a {
        font-size: 10px;
        padding: 2px;
    }

    #Login_btn {
        width: 120px;
        font-size: 12px;
        padding: 5px;
    }

    .fa-arrow-right-long {
        font-size: 12px;
        margin-left: 4px;
    }

    .fa-house-chimney {
        font-size: 12px;
        margin-right: 8px;
    }

    .fa-list-check {
        font-size: 12px;
        margin-right: 8px;
    }

    .fa-envelope {
        font-size: 12px;
        margin-right: 8px;
    }

    .fa-user {
        font-size: 12px;
        margin-right: 8px;
    }

    .Task_Container {
        display: flex;
        background-image: url(./Home_background.jpg);
        flex-direction: column;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: auto;

    }

    .sidebar {
        width: auto;
        padding: 6px;
        gap: 10px;
        margin-left: 0;
        align-items: center;
    }

    .sidebar>a {
        padding: 10px;
        width: 85%;
    }

    .Working_btns {
        width: auto;
        justify-content: center;
    }

    .Working_btns>button {
        width: 100%;
        border-radius: 7px;
    }

    .Working_btns>input {
        width: 100%;
        padding: 7px;
    }

    .task_table {
        border: 2px solid black;
        border-radius: 5px;
        justify-content: center;
        width: auto;
        align-items: center;
        display: flex;
        padding: 2px;
        margin: 3%;

    }

    table {
        width: auto;
    }

    th {
        border: 1px solid black;
        border-radius: 4px;
        padding: 0px;
        font-size: 16px;
    }

    td {
        border: 1px solid black;
        border-radius: 4px;
        padding: 5px;
        font-size: 16px;
    }

    td>p {
        padding: 12px;
        font-size: 12px;
        line-height: 1.0;
        min-height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow-wrap: break-word;
        word-wrap: break-word;
    }

    td:nth-child(1) {
        width: 25%;
        height: 35x;
    }

    td:nth-child(2) {
        width: 55%;
        height: 35x;
    }

    td:nth-child(3) {
        width: 20%;
        height: 35x;
    }
}